<!DOCHTML>
<html>
    <head>
       <!-- <script src="../static/js/hello.js"></script>-->
      <link rel="stylesheet" type="text/css" href="../static/css/hello.css">
       <script src="../static/js/jquery.js"></script>
    </head>
    <bodey>
        <h1>{{ hello }}</h1>
        get方法：
        <div>
            用户名：<input id="uname"></input></br>
            密&nbsp&nbsp&nbsp&nbsp码：<input></input></br>
            <button id="selectData" onclick="dj()">查询数据</button>
        </div>
        <br>
        post方法：
         <div>
            用户名：<input id="unamep"></input></br>
            密&nbsp&nbsp&nbsp&nbsp码：<input></input></br>
            <button onclick="testPost()">查询数据</button>
        </div>
        
        
    </body>
    <script src="../static/js/hello.js"></script>
</html>
